<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
    <strong>Product number:</strong>
    <%= @product.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <span class="price"><%= number_to_currency(@product.price) %></span> 
</p>
<p>
    <strong>Quantity sold:</strong>
    <%= @product.quantity_sold %>
</p>

<div class=info_line>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
